---
---
@charset "utf-8";

@import "./font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Roboto+Mono|PT+Sans');

$font-robot: 'Roboto', sans-serif;
$font-robot-mono: 'Roboto Mono', monospace;
$font-mont: 'Montserrat', sans-serif;
$font-pt: 'PT Sans', sans-serif;
$font-open: 'Open Sans', sans-serif;

// Reset global margin
* {
	margin:  0;
	padding: 0;
}


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


$content-width:      900px;
$on-mobile:          480px; // mobile
$on-tablet:          768px; // tablet

$background-color: #fafafa;
$font-color:       #303030;

$font-size:        16pt;
$font-size-large:  30pt;
$font-size-menu:   15pt;

$spacing-unit: 1.5;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"base.scss",
	"posts.scss",
	"project.scss",
	"syntax-highlighting"
;
