---
layout: default
---

<h1>Archive</h1>

{%comment%}
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | uniq | sort %}

{% for t in rawtags %}
  {{ t }}
{% endfor %}
{%endcomment%}

{%comment%}
<div class="category-block">
  <ul>
    {% for post in site.posts %}
      {% for tag in post.categories %}
      <li>
        <a href="#{{ tag | slugify }}">{{ tag }}</a>
      </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
{%endcomment%}

<div class="archive-posts-list">
  <ul>
    {% for post in site.posts %}
    <li>
      <div class="archive-post-list-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
	  <div class="archive-post-list-date">
		{{ post.date | date_to_string }}
	  </div>
      <div class="archive-post-list-tags">
          {% for tag in post.tags %}
            <p>{{ tag }}</p>
          {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
