---
layout: default
---

<h1>My things and projects</h1>
<div class="project-list">
  {% assign sorted_projects = (site.data.projects | sort: 'year' | reverse) %}

  {% for project in sorted_projects %}
    <div class="project-item" style="border-left: 7px solid #{{project.color}}">
		<div class="project-header">
	      	{% if project.github %}
		        <a class="project-link" href="{{ project.github }}">
		        	<h4>{{project.name}}</h4>
		        </a>
			{% endif %}
			<div class="date">
          {% assign reverse_tech = (project.tech | reverse) %}
          {% for t in reverse_tech %}
            <p>{{ t }}</p>
          {% endfor %}
		      <p>{{ project.year }}</p>
			</div>
		</div>
      <div class="project-meta">
		<div class="desc">
			<p> {{ project.desc}}</p>
		</div>
      </div>
    </div>
  {% endfor %}
</div>
