
<div class="footer-social">
<div class="seperator"></div>
  <ul>
    <li>
    <i style="color:#323232;" class="fa fa-github fa-2x" aria-hidden="true"></i>
      <a href="https://github.com/{{ site.github_username }}">
        {{ site.github_username }}
      </a>
    </li>
    <li>
    <i style="color:#4099FF;" class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      <a href="https://twitter.com/{{ site.twitter_username }}">
        {{ site.twitter_username }}
      </a>
    </li>
  </ul>
</div>
