
<div class="posts-list-container">

    <ul class="posts-list">
      {% assign posts = site.posts | slice: 0, 3 %}

      {% for post in posts %}
        {% include post-card.html post=post %}
      {% endfor %}
    </ul>

    <p><a href="/posts">More posts...</a></p>
</div>
