<nav class="navbar">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/projects">projects</a></li>
      <li><a href="/posts">posts</a></li>
      <li><a href="/archive">archive</a></li>
    </ul>
</nav>
