
<div class="posts-container">
  <div class="posts-title">
	<a href="{{ post.url }}"><h4>{{ include.post.title }}</h4></a>
  </div>
  <div class="posts-date">
	  <p>{{ include.post.date | date_to_string }}</p>
  </div>
  {% comment %}
  <div class="posts-tags">
	<ul>
	  {% for tag in post.tags %}
		<li>{{ tag }}</li>
	  {% endfor %}
	</ul>
  </div>
  {% endcomment %}
  <div class="posts-content">
	{{ include.post.excerpt }}
  </div>
</div>
