
body {
	margin: 0 auto;
	max-width: $content-width;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #3a3a3a;
	font-family: $font-mont;
}

h1 { font-weight: 700; }
h2, h3, h4, h5, h6 { font-weight: 400; }

h1 { font-size: $font-size + 23pt; }
h2 { font-size: $font-size + 15pt; }
h3 { font-size: $font-size + 11pt; }
h4 { font-size: $font-size + 8pt; }


a {
	color: #d11414;
	text-decoration: none;

	&:hover {
		border-bottom: 4px solid #d11414;
	}

	&:active {
		color: #5b0909;
	}
}

p, a, ul, ol, li, table, thead, tbody th, tr, td {
	font-family: $font-robot;
	font-weight: 400;
	font-size: $font-size;
}

th {
	font-family: $font-open;
	font-weight: 600;
	font-size: $font-size;
}

p, a, ul, ol, li { line-height: 1.5; }

code, pre {
	font-family: $font-robot-mono;
	font-weight: 400;
	font-size: $font-size;
	background-color: #efefef;
	margin: 10px 0;
}

code {
}

pre {
	padding: 10px;
}

hr {
	border: 4px solid #f1f1f1 !important;
	margin: 7px 0;
}


.project-link {
	h4 {
		font-family: $font-open;
		font-weight: 400;
		font-size: $font-size;
	}
}


.header-container { }
.navbar, .title-container { display: inline-block; }
.content-container { clear: both; }
.page-intro { padding: 0 0 10px 0; }
.posts-pagination > * {
	display: inline-block;
}


.navbar {
	margin: 10px 0;
	ul {
		list-style: none;

		li {
			display: inline;
			margin-right: 10px;
		}
	}
}


.logo {
	max-width: 800px;
	width: 100%;
	margin: 20px 0;
}

.title-container {
	p {
		font-size: $font-size;
		font-weight: 800;
	}
}


.footer-social {

	margin-bottom: 500px;

	.seperator {
		border: 4px solid #f1f1f1 !important;
		margin: 7px 0;
	}

	li {
		list-style: none;
		display: inline-block;

		i { vertical-align: middle; }

		a {
		}
	}
}

//
// Responsive styling
//

@include media-query($on-mobile) {
	h1 { font-size: ($font-size + 23pt) / (1.5 * $spacing-unit); }
	h2 { font-size: ($font-size + 15pt) / (1.5 * $spacing-unit); }
	h3 { font-size: ($font-size + 11pt) / (2 * $spacing-unit); }
	h4 { font-size: ($font-size + 8pt)  / ($spacing-unit); }
}

@include media-query($on-mobile) {
	p, a, ul, ol, li, table, thead, tbody th, tr, td {
		font-family: $font-robot;
		font-weight: 400;
		font-size: $font-size / $spacing-unit;
	}
}

@include media-query($on-mobile) {
	code span, pre > * {
		font-size: 10pt;
	}
}

@include media-query($on-tablet) {
	.content-container {
		margin: 0 10px;
	}
}

@include media-query($on-tablet) {
	.navbar {
		margin: 10px 10px;
	}
}

@include media-query($on-tablet) {
	.footer-social {
		margin: 0 10px 500px 10px;
	}
}
