
.project-item {
	margin: 10px 0;
	background-color: #fafafa;

	> * {
		padding: 0 10px;
	}

	.project-header {

		.project-link {
			&:hover {
				border: 0 solid #fff !important;
				h4 { color: #b24807; }
			}
		}

		.date {
			float:right;
			margin-top: 5px;

			p {
				background-color: #F0F0F0;
				padding: 1px 8px 1px 8px;
				margin-left: 2px;

				display: inline-block;
			}
		}
	}

	.project-header	> * {
		display: inline-block;
	}

	.project-meta {
		.desc {
			p {
				color: #a1a1a1;
			}
		}
	}
}

//@include media-query($on-mobile) {
//	.project-item {
//		margin: 7px;
//	}
//}
