---
layout: default
---

<h1>Posts</h1>

<div class="posts-pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="posts-previous"><p>&lt;Previous</p></a>
  {% endif %}
  <span class="posts-page_number "><p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p></span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="posts-next"><p>Next&gt;</p></a>
  {% endif %}
</div>

{% for post in paginator.posts %}
    {% include post-card.html post=post %}
{% endfor %}

<div class="posts-pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="posts-previous"><p>&lt;Previous</p></a>
  {% endif %}
  <span class="posts-page_number "><p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p></span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="posts-next"><p>Next&gt;</p></a>
  {% endif %}
</div>
