<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>milje.me</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="header-container"></div>
		{% include nav.html %}
		<div class="content-container">
			{{ content }}
		</div>
		{% include footer.html %}
	</body>
</html>
