---
layout: default
---

<article class="posts-content-container">
	<!--<div class="posts-page-title">{{ page.title }}</div>-->
	<h2>{{ page.title }}</h2>
	<div class="posts-date">
	 <p>written on {{  page.date | date_to_string }}</p>
	 {% for tag in page.tags %}
	 	<p class="posts-tag">{{ tag }}</p>
	 {% endfor %}
	</div>
	<hr>
	<section>
		{{content}}
	</section>
</article>
<div class="posts-content-container">

</div>
